@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');

/*Home page and animated navigation bar styling*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #06021b;
    float: right;
    margin-right: 50px;
	overflow: hidden;
}

a{
    text-decoration: none;
    color: wheat;
}

header{
    width: 1140px;
    max-width: 100%;
    margin: auto;
    height: 100px;
    display: flex;
    align-items: center;
    position: relative;
    z-index: 100;
    background:url(images/pexels-zch-12722063\ \(Original\).mp4)no-repeat center center/cover;
}

header a{
    margin-right: 40px;
}

.navigation {
    position: absolute;
    right: 0;
    width: 75px;
    height: 360px;
    border: 3px solid white;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.navigation ul {
    width: 350px;
}

.navigation ul li {
    position: relative;
    width: 70px;
    height: 70px;
    list-style: none;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    transition: .5s;
}

.navigation ul li.active a .icon {
    transform: translateX(-70px);
}

.navigation ul li a .text {
    position: absolute;
    color: #fff;
    font-weight: 400;
    font-size: .75em;
    letter-spacing: .05em;
    opacity: 0;
    transform: translateX(20px);
    transition: .5s;
}

.navigation ul li.active a .text {
    opacity: 1;
    transform: translateY(-50px);
}

.navigation ul li a .circle {
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: transparent;
    border-radius: 50%;
    border: 1.8px solid #fff;
    transform: translateX(-50px) scale(0);
}

.navigation ul li.active a .circle {
    transition: .5s;
    transition-delay: .5s;
    transform: translateX(-37px) scale(1);
}

.navigation ul li:nth-child(1).active~.indicator {
    transform: translateY(calc(70px * 0));
}

.navigation ul li:nth-child(2).active~.indicator {
    transform: translateY(calc(70px * 1));
}

.navigation ul li:nth-child(3).active~.indicator {
    transform: translateY(calc(70px * 2));
}

.navigation ul li:nth-child(4).active~.indicator {
    transform: translateY(calc(70px * 3));
}

.navigation ul li:nth-child(5).active~.indicator {
    transform: translateY(calc(70px * 4));
}
